<section class="homeimage">
  <div class="skills">
    <h1>SKILLS</h1><br>
    <a class="button circled scrolly">Java</a>
    <a class="button circled scrolly">Javascript</a>
    <a class="button circled scrolly">C/C++</a><br><br>
    <a class="button circled scrolly">Angular</a>
    <a class="button circled scrolly">NodeJs</a>
    <a class="button circled scrolly">HTML5/CSS3</a>
  </div>
  <div class="info">
      <h4>Name: Arosha Mudalige</h4>
      <h4>Age: 24</h4>
      <h4>University of Colombo School of Computing</h4>
  </div>
  <img src="../../assets/images/Me.jpg" alt="Avatar" class="avatar">
  <br><br>
  <a class="button circled scrolly">Hi!!</a>
</section>

