<section id="banner">
  <div class="inner">
    <figure>
      <img src="../../assets/images/Me.jpg" alt="Avatar" class="avatar">
    </figure>
    <h1>Arosha Mudalige</h1>
    <p>Born and raised in Brooklyn. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the <a href="#">Semantics</a>, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. </p>
  </div>
</section>
