.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.homeimage {
background-color: #ffffff;
color: #f2a3a5;
padding: 6em 0 7.15em 0;
background-color: #0c0c0c;
background-image: url("../../assets/images/banner.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: 15% left;
text-align: center;
position: relative;
z-index: 9999;
}

.skills {
  position: fixed;
  left: 30;
}

.info {
  position: fixed;
  right: 30;
  text-align: left;
  background-color: #e5474b;
  padding: 1em 1em 1em 1em;
}

h4{
  color: #ffffff;
}
