<section class="contatctimage">
    <div class="inner">
      <h3>Email: aroshamudalige1@gmail.com</h3>
      <h3>Tel: +94 770 177 440</h3>
      <div>
        <button type="button" onclick="window.open('https://facebook.com','_blank')" class="btn btn-fb waves-light" mdbWavesEffect><i class="fa fa-facebook"></i></button>
        <button type="button" onclick="window.open('https://twitter.com','_blank')" class="btn btn-tw waves-light" mdbWavesEffect><i class="fa fa-twitter"></i></button>
        <button type="button" onclick="window.open('https://google.com','_blank')" class="btn btn-gplus waves-light" mdbWavesEffect><i class="fa fa-google-plus"></i></button>
        <button type="button" onclick="window.open('https://linkedin.com','_blank')" class="btn btn-li waves-light" mdbWavesEffect><i class="fa fa-linkedin"></i></button>
        <button type="button" onclick="window.open('https://youtube.com/user/aroshamudalige1','_blank')" class="btn btn-yt waves-light" mdbWavesEffect><i class="fa fa-youtube"></i></button>
      </div>
    </div>
</section>
