<section class="contatctimage">
    <div class="inner">
      <h3>Email: aroshamudalige1@gmail.com</h3>
      <h3>Tel: +94 770 177 440</h3>
      <div>
        <button type="button" onclick="location.href='https://facebook.com'" class="btn btn-fb waves-light" mdbWavesEffect><i class="fa fa-facebook"></i></button>
        <button type="button" onclick="location.href='https://twitter.com'"class="btn btn-tw waves-light" mdbWavesEffect><i class="fa fa-twitter"></i></button>
        <button type="button" onclick="location.href='https://google.com'"class="btn btn-gplus waves-light" mdbWavesEffect><i class="fa fa-google-plus"></i></button>
        <button type="button" onclick="location.href='https://linkedin.com'" class="btn btn-li waves-light" mdbWavesEffect><i class="fa fa-linkedin"></i></button>
      </div>
    </div>
</section>
