.blogimage {
  background-color: #e5474b;
  color: #f2a3a5;
  padding: 12em 0 7.5em 0;
  background-color: #0c0c0c;
  background-image: url("../../assets/images/blog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 15% left;
  text-align: left;
  position: relative;
  z-index: 9999;
}

#oneblog {
  padding: 5em 0 17.5em 0;
}

